/* Input.css */

.form {
  display: flex;
  align-items: center;
  width: 100%;
}

.input {
  flex: 1;
  resize: none;
  overflow-y: auto;
  /* overflow: hidden; */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-height: 60px;
  background: transparent;
}

.sendButton {
  background-color: #2979ff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.sendButton:hover {
  background-color: #005bb5;
}
